/* Fonts */
@font-face {
  font-family: 'Circe Bold';
  src: url('/public/fonts/Circe/fonts/circe_bold.eot');
  src: url('/public/fonts/Circe/fonts/circe_bold.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Circe/fonts/circe_bold.woff2') format('woff2'),
    url('/public/fonts/Circe/fonts/circe_bold.woff') format('woff'),
    url('/public/fonts/Circe/fonts/circe_bold.ttf') format('truetype'),
    url('/public/fonts/Circe/fonts/circe_bold.svg#circe_bold') format('svg');
}

@font-face {
  font-family: 'Circe ExtraBold';
  src: url('/public/fonts/Circe/fonts/circe_extrabold.eot');
  src: url('/public/fonts/Circe/fonts/circe_extrabold.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Circe/fonts/circe_extrabold.woff2') format('woff2'),
    url('/public/fonts/Circe/fonts/circe_extrabold.woff') format('woff'),
    url('/public/fonts/Circe/fonts/circe_extrabold.ttf') format('truetype'),
    url('/public/fonts/Circe/fonts/circe_extrabold.svg#circe_extrabold')
      format('svg');
}

@font-face {
  font-family: 'Circe ExtraLight';
  src: url('/public/fonts/Circe/fonts/circe_extralight.eot');
  src: url('/public/fonts/Circe/fonts/circe_extralight.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Circe/fonts/circe_extralight.woff2') format('woff2'),
    url('/public/fonts/Circe/fonts/circe_extralight.woff') format('woff'),
    url('/public/fonts/Circe/fonts/circe_extralight.ttf') format('truetype'),
    url('/public/fonts/Circe/fonts/circe_extralight.svg#circe_extralight')
      format('svg');
}

@font-face {
  font-family: 'Circe Light';
  src: url('/public/fonts/Circe/fonts/circe_light.eot');
  src: url('/public/fonts/Circe/fonts/circe_light.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Circe/fonts/circe_light.woff2') format('woff2'),
    url('/public/fonts/Circe/fonts/circe_light.woff') format('woff'),
    url('/public/fonts/Circe/fonts/circe_light.ttf') format('truetype'),
    url('/public/fonts/Circe/fonts/circe_light.svg#circe_light') format('svg');
}

@font-face {
  font-family: 'Circe';
  src: url('/public/fonts/Circe/fonts/circe.eot');
  src: url('/public/fonts/Circe/fonts/circe.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Circe/fonts/circe.woff2') format('woff2'),
    url('/public/fonts/Circe/fonts/circe.woff') format('woff'),
    url('/public/fonts/Circe/fonts/circe.ttf') format('truetype'),
    url('/public/fonts/Circe/fonts/circe.svg#circe') format('svg');
}

@font-face {
  font-family: 'Circe Thin';
  src: url('/public/fonts/Circe/fonts/circe_thin.eot');
  src: url('/public/fonts/Circe/fonts/circe_thin.eot?#iefix')
      format('embedded-opentype'),
    url('/public/fonts/Circe/fonts/circe_thin.woff2') format('woff2'),
    url('/public/fonts/Circe/fonts/circe_thin.woff') format('woff'),
    url('/public/fonts/Circe/fonts/circe_thin.ttf') format('truetype'),
    url('/public/fonts/Circe/fonts/circe_thin.svg#circe_thin') format('svg');
}

@font-face {
  font-family: 'Chonburi';
  src: url('/public/fonts/Chonburi/chonburi_regular.ttf') format('truetype');
}

.f-900 {
}
.f-700 {
}
.f-350 {
}
.f-red {
  color: var(--color-red);
}
.f-serif {
  font-family: 'Chonburi', serif;
}

/* Reset-CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100dvh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  /* text-rendering: optimizeLegibility; */
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-weight: 400;
  /* min-width: 300px; */
  font-family: 'Circe', 'Circe Bold', Inter, system-ui, Arial, sans-serif;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --color-black: #131313;
  --color-gray-dark: #969696;
  --color-gray: #c9c9c3;
  --color-gray-light: #e4e4e4;
  --color-gray-lightest: #f5f5f5;
  --color-white: #fff;
  --color-red: #a20000;
  --color-dark: #2f3b42;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--color-black);
}
::-webkit-scrollbar-thumb {
  background: var(--color-red);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-gray-dark);
}

/* Common */
.page-wrapper {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  margin-inline: auto;
  max-width: 2560px;
  padding-inline: 20px;
}

.container {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto;
  position: relative;
  /* background: repeating-linear-gradient(
    90deg,
    #fff,
    #fff 20px,
    rgba(162, 0, 0, 0.025) 20px,
    rgba(162, 0, 0, 0.025) 114px
  ); */
}

.content {
  /* padding-top: 120px; */
}

.button-primary {
  background: var(--color-red);
  color: var(--color-white);
  display: flex;
  width: 100%;
  max-width: 200px;
  padding: 5px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.button-primary a,
.button-primary span {
  color: var(--color-white);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.button-primary:hover {
  cursor: pointer;
  filter: brightness(85%);
}
.button-outline {
  background: var(--color-white);
  color: var(--color-dark);
  display: flex;
  max-width: 200px;
  width: 100%;
  padding: 5px 15px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid var(--color-gray-light);
  text-decoration: underline;
}
.button-outline a,
.button-outline span {
  color: var(--color-dark);
  text-decoration: underline;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.button-outline:hover {
  cursor: pointer;
  color: var(--color-red);
  border: 1px solid var(--color-red);
}
.button-outline:hover a,
.button-outline:hover span {
  color: var(--color-red);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: var(--color-black);
  cursor: pointer;
}
h1 {
  font-size: clamp(24px, 6vw, 34px);
  line-height: 1.25;
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
  text-transform: uppercase;
  word-break: break-word;
}
h1::after {
  content: url('/img/underline.svg');
  max-width: 100%;
  display: flex;
  flex-shrink: 1;
  overflow: hidden;
}

.section {
  width: 100%;
  padding-bottom: 50px;
}

.icon::before {
  display: inline-block;
  height: 24px;
  width: 24px;
}
.heart-full::before {
  content: url('/img/icons/heart-full.svg');
}
.heart-empty::before {
  content: url('/img/icons/heart-empty.svg');
}

/* Sidebar */
.sidebar-wrapper::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}
.sidebar-wrapper::-webkit-scrollbar-track {
  background: var(--color-white);
}
.sidebar-wrapper {
  max-width: 350px;
  width: 100%;
  max-height: 100dvh;
  overflow-y: auto;
  background-color: var(--color-white);
  border-right: 1px solid var(--color-red);
  padding: 10px 5px 10px 30px;
  position: sticky;
  z-index: 2;
  top: 0;
}
.sidebar-inner {
}
.logo {
  margin-bottom: 20px;
}
.sidebar-nav-label,
.sidebar-tags-label {
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}
.sidebar-nav {
  font-size: 15px;
}
.sidebar-nav-list {
}
.sidebar-nav-item {
  background: var(--color-white);
}
.sidebar-nav-item a {
  display: flex;
  padding: 10px 5px;
  position: relative;
  align-items: center;
}
.sidebar-nav-item a span {
  max-width: 220px;
}
.item-count {
  position: absolute;
  right: 30px;
  color: var(--color-gray-dark);
  font-weight: 400;
}

.sidebar-nav-item img {
  margin-right: 10px;
  margin-left: 5px;
  width: 24px;
  height: 24px;
}
.level-1 .level-2 {
  display: none;
}
.level-1:has(> a.open) .level-2 {
  display: block;
}

.level-1:has(.level-2) > a.open {
  background: var(--color-gray);
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.level-1 > a:hover {
  background: var(--color-gray);
}
.level-1:has(.level-2) > a::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 10px;
  width: 7px;
  height: 7px;
  border-left: 1px solid var(--color-black);
  border-top: 1px solid var(--color-black);
  transition: transform 0.3s;
  transform: rotate(225deg);
}
.level-2 a {
  padding-left: 20px;
  background: var(--color-gray-light);
}
.level-2 a:hover {
  color: var(--color-red);
  background: var(--color-white);
}
.level-2 a::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 10px;
  border-radius: 50%;
  background: var(--color-gray-light);
  width: 7px;
  height: 7px;
  transition: background 0.2s;
}
.level-2 a:hover::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 10px;
  border-radius: 50%;
  background: var(--color-red);
  width: 7px;
  height: 7px;
}
.level-2 a:hover .item-count {
  color: var(--color-red);
}

.sidebar-form-wrapper {
  background: var(--color-gray-lightest);
  width: 100%;
  max-width: 300px;
  padding: 30px 10px;
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
}
.sidebar-form-title {
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 800;
  font-family: 'Circe ExtraBold', 'Circe Bold', 'Circe', Inter, system-ui, Arial,
    sans-serif;
  margin-bottom: 10px;
}
.sidebar-form-image {
  max-width: 400px;
}
.sidebar-form-label {
  line-height: 1;
  margin-block: 10px;
}
.sidebar-form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.sidebar-form-inputs .row {
  /* gap: 10px; */
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-form-inputs input,
.sidebar-form-inputs select {
  background: var(--color-white);
  border: 1px solid var(--color-gray);
  font-size: 14px;
  border-radius: 3px;
  padding-left: 5px;
}
.sidebar-form-inputs #name {
  width: 100%;
  height: 30px;
}
.sidebar-form-inputs #phone,
.sidebar-form-inputs #area {
  width: 48%;
  height: 30px;
}
.sidebar-form-label-button {
  color: var(--color-gray-dark);
  font-size: 10px;
  line-height: 1;
}
.sidebar-form-button {
  border: none;
}
/* Form on main */
.main .sidebar-form-wrapper {
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: row;
  padding: 50px 20px;
  column-gap: 10px;
  row-gap: 30px;
  justify-content: space-around;
  text-align: left;
}
.main .sidebar-form-wrapper .col-one {
  width: 60%;
  max-width: 600px;
}
.main .sidebar-form-wrapper .col-two {
  display: flex;
  width: 35%;
  max-width: 450px;
  justify-content: center;
  align-items: center;
}
.main .sidebar-form-title {
  font-size: 50px;
}
.main .sidebar-form-inputs {
  align-items: flex-start;
}
.main .sidebar-form-button {
  max-width: 300px;
  height: 50px;
}
.main .sidebar-form-label-button {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .main .sidebar-form-wrapper {
    flex-direction: column-reverse;
    padding: 30px 10px;
  }
  .main .sidebar-form-wrapper .col-one,
  .main .sidebar-form-wrapper .col-two {
    width: 100%;
  }
  .main .sidebar-form-wrapper .col-two {
    max-width: 350px;
  }
  .main .sidebar-form-title {
    font-size: 26px;
  }
  .main .sidebar-form-inputs {
    align-items: center;
  }
  .main .sidebar-form-title,
  .main .sidebar-form-label,
  .main .sidebar-form-label-button {
    text-align: center;
  }
}

.sidebar-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5px;
}
.sidebar-tags a {
  font-size: 11px;
  padding: 8px 10px;
  background: var(--color-gray-lightest);
  border-radius: 8px;
}
.sidebar-tags a:hover {
  cursor: pointer;
  background: var(--color-gray-light);
}

@media screen and (max-width: 1200px) {
  .sidebar-wrapper {
    display: none;
  }
}

/* Header */
.header {
  /* position: fixed;
  width: 100%;
  max-width: calc(100% - 350px);
  top: 0;
  z-index: 3; */
}
@media screen and (max-width: 1200px) {
  .header {
    /* max-width: 100%; */
  }
}

.nav-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 50px;
  background: var(--color-dark);
}
.nav-button {
  padding-inline: 20px;
  display: flex;
  align-items: center;
  width: auto;
  flex-direction: row;
  gap: 10px;
}
.nav-button.active{
  background: var(--color-red);
}
.nav-button a {
  color: var(--color-white);
}
.nav-button a {
  display: flex;
  gap: 10px;
}
.nav-button:hover {
  background: var(--color-red);
}
.nav-button.order-site {
  background: var(--color-red);
}

.nav-city {
  position: relative;
}
.nav-city::before {
  content: url('/img/icons/map-mark.svg');
  display: inline-block;
  position: relative;
  height: 18px;
  width: 18px;
}
.nav-city::after {
  content: '';
  display: inline-block;
  position: relative;
  width: 7px;
  height: 7px;
  border-left: 2px solid var(--color-white);
  border-top: 2px solid var(--color-white);
  transition: transform 0.3s;
  transform: rotate(225deg);
}
.nav-city:hover::after {
  transform: rotate(45deg);
}

.nav-city-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  background: var(--color-dark);
  left: 0;
  right: 0;
  z-index: 2;
  border-radius: 0 0 5px 5px;
}
.nav-city:hover .nav-city-dropdown {
  display: block;
}
.nav-city-dropdown a {
  padding: 5px 8px;
}
.nav-city-dropdown a:hover {
  color: var(--color-gray);
}

.nav-phone::after {
  content: url('/img/icons/WhatsApp.svg');
  display: inline-block;
  height: 18px;
  width: 18px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  padding-inline: 5px;
  column-gap: 10px;
}
.search-container {
  width: 70%;
  position: relative;
  /* box-shadow: 0px 9px 15px var(--color-gray-light); */
  border-radius: 5px;
}
.search {
  width: 100%;
  padding: 5px 20px 5px 60px;
  border: 1px solid var(--color-gray-light);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
}
.search-container::before {
  content: url('/img/icons/search-normal.svg');
  display: inline-block;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 25px;
  top: 5px;
}

.header-actions-container {
  display: flex;
  align-items: end;
  gap: 15px;
}

.header-favourites:hover,
.header-cart:hover,
.header-profile:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header-favourites,
.header-cart {
  position: relative;
  padding-right: 10px;
}
.header-favourites-count,
.header-cart-count {
  position: absolute;
  top: -5px;
  right: -6px;
  background: var(--color-red);
  color: var(--color-white);
  border-radius: 50%;
  font-size: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.breadcrumbs a {
  position: relative;
}
.breadcrumbs a::after {
  content: url('/public/img/icons/arrow-small.svg');
  position: relative;
  top: 4px;
  margin-left: 15px;
  height: 16px;
  width: 16px;
}
.breadcrumbs a:last-child::after {
  content: none;
}
.breadcrumbs a:last-child {
  color: var(--color-red);
}

/* Footer */
.footer {
  background: var(--color-dark);
  color: var(--color-white);
}
.footer-top {
  display: flex;
  margin-left: 350px;
  padding-inline: 10px 10px;
  padding-top: 50px;
  padding-bottom: 20px;
  justify-content: space-between;
  gap: 10px;
}
.footer .col-one {
  display: flex;
  flex-direction: column;
  max-width: 460px;
}
.footer .col-two {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}
.footer .row {
  margin-bottom: 15px;
  row-gap: 10px;
  column-gap: 15px;
}

.footer .phone::before {
  content: url('/img/icons/call.svg');
  display: inline-block;
  position: relative;
  top: 5px;
  height: 20px;
  width: 20px;
}
.footer .email::before {
  content: url('/img/icons/sms.svg');
  display: inline-block;
  position: relative;
  top: 5px;
  height: 20px;
  width: 20px;
}
.get-collection {
  padding-left: 10px;
}
.get-collection::before {
  content: url('/img/icons/notes.svg');
  display: inline-block;
  position: relative;
  left: -10px;
  height: 20px;
  width: 20px;
  top: -2px;
}
.get-recall::before {
  content: url('/img/icons/outgoing-call-rounded.svg');
  display: inline-block;
  position: relative;
  left: -10px;
  height: 20px;
  width: 20px;
  top: -1px;
}
.footer .button-primary {
  border-radius: 0px;
}

.footer-tags-label {
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.footer-tags-line {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 10px;
  margin-bottom: 10px;
}
.footer-tags-line a {
  padding: 1px 10px;
  color: var(--color-white);
  text-decoration: none;
  border: 1px solid var(--color-black);
}

.footer-bottom {
  display: flex;
  background: var(--color-black);
  color: var(--color-gray);
  justify-content: center;
  align-items: center;
  height: 80px;
  padding-left: 300px;
}

@media screen and (max-width: 1200px) {
  .footer-top {
    margin-left: 0px;
  }
  .footer-bottom {
    padding-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    gap: 30px;
  }
}

/* Homepage */

.hero-wrapper {
  display: flex;
  background: var(--color-white);
  align-items: center;
  justify-content: space-between;
}
.hero-description {
  display: flex;
  flex-direction: column;
  padding: 30px 0px 30px 50px;
  gap: 10px;
  flex-shrink: 0 1;
}
.hero-title {
  font-size: clamp(36px, 7vw, 48px);
  line-height: 1.25;
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
  text-transform: uppercase;
}
.hero-title .f-red {
  text-transform: lowercase;
}
.hero-subtitle {
  font-size: clamp(20px, 4vw, 22px);
  line-height: 1.2;
  color: var(--color-dark);
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
  letter-spacing: 1.1px;
}
.hero-advantages-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 15px;
}
.hero-advantage {
  display: flex;
  align-items: center;
  gap: 10px;
}
.hero-advantage-image {
  position: relative;
  display: flex;
  max-width: 70px;
  width: 100%;
  height: 70px;
  overflow: hidden;
  padding: 10px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.hero-advantage-image-digit {
  position: relative;
  color: var(--color-red);
  font-size: 64px;
  top: 15px;
  right: 10px;
}
.hero-advantage-image::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 1px;
  background: linear-gradient(
    90deg,
    var(--color-gray-light),
    var(--color-white)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.hero-advantage-text {
  font-size: 17px;
  line-height: 1.2;
  color: var(--color-dark);
  font-family: 'Circe Light', 'Circe', Inter, system-ui, Arial, sans-serif;
  font-weight: 350;
}
.hero-button {
  max-width: 315px;
  height: 56px;
  text-decoration: underline;
}
.hero-image {
  max-width: 630px;
}
@media screen and (max-width: 992px) {
  .hero-wrapper {
    flex-direction: column;
  }

  .hero-image {
    display: none;
  }
  .hero-description {
    padding: 30px 0px 30px 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero-advantages-container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .hero-description {
    padding: 30px 0px 30px 00px;
  }
  .hero-button {
    align-self: center;
  }
}

.sort-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.sort-container {
  position: relative;
  max-width: max-content;
  width: 100%;
  max-width: 180px;
}
.sort-container:hover {
  background: var(--color-white);
}
.sort-current {
  color: var(--color-red);
  padding: 5px 30px 5px 15px;
  position: relative;
  width: 100%;
}
.sort-dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  background: var(--color-white);
  min-width: max-content;
  width: 100%;
  z-index: 2;
}
.sort-container:has(.sort-current:hover) .sort-dropdown,
.sort-container:has(.sort-dropdown:hover) .sort-dropdown {
  display: flex;
}

.sort-dropdown a {
  padding: 5px 15px;
  color: var(--color-dark);
}
.sort-dropdown a:hover {
  color: var(--color-red);
}
.sort-container::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 7px;
  height: 7px;
  top: 13px;
  right: 10px;
  border-left: 1px solid var(--color-black);
  border-top: 1px solid var(--color-black);
  transition: transform 0.2s;
  transform: rotate(225deg);
}
.sort-container:has(.sort-dropdown:hover) .sort-container::after,
.sort-container:hover::after {
  transform: rotate(45deg);
}
@media screen and (max-width: 480px) {
  .sort-label {
    width: 100%;
  }
  .sort-container {
    width: 100%;
  }
  .sort-current {
    padding-left: 0px;
  }
  .sort-dropdown a {
    padding-left: 0px;
  }

}

.tags-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 15px;
}
.tags-wrapper a {
  display: flex;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(--color-gray-lightest);
}
.tags-wrapper a:hover {
  background: var(--color-gray-light);
}
.tags-wrapper a.active {
  color: var(--color-white);
  background: var(--color-red);
}

.product-cards-wrapper {
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  column-gap: 30px;
  row-gap: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.product-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid var(--color-gray-lightest);
  box-shadow: 5px 5px 10px var(--color-gray-lightest);
  background: var(--color-white);
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  max-width: 520px;
  justify-content: space-between;
  justify-self: center;
}
.product-card:hover {
  border: 1px solid var(--color-red);
}
.card-image {
  width: 90%;
  margin-inline: auto;
  margin-top: 5px;
  height: 320px;
  overflow-y: auto;
}
.card-image img {
  margin-inline: auto;
}
.card-image::-webkit-scrollbar {
  width: 4px;
}
.card-detail {
  display: flex;
  padding: 10px 15px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  border-top: 1px solid var(--color-gray-light);
  padding-top: 15px;
  margin-block: 15px;
  flex-grow: 1;
  justify-content: space-between;
}
.card-top {
  width: 100%;
}
.card-top > .row {
  justify-content: space-between;
}
.card-tag {
  font-size: 12px;
  line-height: 1.16;
  max-width: 300px;
  word-break: break-all;
}
.card-title {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
  padding-right: 24px;
}
.card-article {
  font-size: 12px;
}
.card-favourites {
  height: 24px;
  width: 24px;
}
.card-favourites i:hover {
  opacity: 0.7;
  cursor: pointer;
}
.card-price {
  gap: 10px;
}
.price-new {
  color: var(--color-black);
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
  font-size: 24px;
}
.price-new::before {
  content: url('/img/icons/wallet-outline.svg');
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
  height: 18px;
  width: 18px;
}
.card-price:has(> .price-old) .price-new {
  color: var(--color-red);
}
.price-old {
  color: var(--color-dark);
  text-decoration: line-through;
}
.card-bottom {
  width: 100%;
}
.card-bottom > .row {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  column-gap: 10px;
}

.card-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}
.button-buy,
.button-demo,
.button-about {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  flex-grow: 1;
}
.button-buy a,
.button-demo a,
.button-about a {
  flex-grow: 1;
}

.button-buy {
  background: var(--color-gray-light);
  position: relative;
}
.button-buy a {
  color: var(--color-red);
  display: inline-flex; 
  align-items: center;
  justify-content: center;
}
.button-buy a::before {
  content: url('/img/icons/shopping-bag-red.svg');
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.button-buy:hover {
  background: var(--color-red);
}
.button-buy:hover a {
  color: var(--color-white);
}
.button-buy:hover a::before {
  content: url('/img/icons/shopping-bag-white.svg');
}

.button-demo {
  background: var(--color-red);
}
.button-demo:hover {
  background: var(--color-dark);
}
.button-demo a {
  color: var(--color-white);
}

.button-about {
  border: 1px solid var(--color-gray);
}
.button-about a {
  color: var(--color-dark);
  text-decoration: underline;
}
.button-about:hover {
  background: var(--color-white);
  border: 1px solid var(--color-red);
}
.button-about:hover a {
  color: var(--color-red);
}

@media screen and (max-width: 992px) {
  .product-cards-wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .product-cards-wrapper {
    grid-template-columns: 1fr;
    column-gap: 0px;
    justify-items: center;
  }
}

.banner {
  padding-block: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner > a {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.banner > a > img {
  /* flex-grow: 1; */
}

.product-pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* height: 46px; */
  width: 100%;
  margin-top: 20px;
}
.product-pagination {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-pagination a {
  padding: 10px;
  font-size: 16px;
}
.product-pagination a:hover {
  color: var(--color-red);
}
.product-pagination .pagination-arrow-back,
.product-pagination .pagination-arrow-forward {
  content: url('/img/icons/arrow.svg');
  width: 44px;
  height: 44px;
  /* padding: 11px; */
  border: 1px solid var(--color-red);
  border-radius: 3px;
}
.product-pagination .pagination-arrow-back {
  rotate: 180deg;
}
.product-pagination .pagination-arrow-back:hover,
.product-pagination .pagination-arrow-forward:hover {
  background: var(--color-white);
}

.avantages-wrapper {
  row-gap: 10px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.avantages-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px 20px;
  column-gap: 10px;
}
.avantages-item-image {
  display: flex;
  justify-content: center;
  min-width: 100px;
  min-height: 100px;
  overflow: hidden;
  padding: 10px;
  border-radius: 50%;
  position: relative;
}
.avantages-item-image::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 1px;
  background: linear-gradient(
    90deg,
    var(--color-gray-light),
    var(--color-white)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.avantages-item-decsription {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 5px;
}
.avantages-item-title {
  font-size: 17px;
  line-height: 1.25;
  color: var(--color-dark);
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.avantages-item-text {
  color: var(--color-dark);
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .avantages-wrapper {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .avantages-item {
    flex-direction: column;
    text-align: center;
    padding: 10px 0px;
  }
}

.works-swiper-wrapper {
}
.works-swiper .swiper-slide {
  overflow: hidden;
  max-height: 380px;
  position: relative;
}
.swiper-slide-overflow {
  display: none;
}
.works-swiper .swiper-slide:hover .swiper-slide-overflow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 10px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: var(--color-white);
  background: rgba(0, 0, 0, 0.85);
}
.slide-link {
  margin-bottom: 5px;
}
.slide-link a {
  color: var(--color-white);
  text-decoration: underline;
}
.slide-link a:hover {
  color: var(--color-gray-light);
}
.slide-title {
  margin-bottom: 10px;
  line-height: 1.2;
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.slide-city {
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 15px;
  font-family: 'Circe Light', 'Circe', Inter, system-ui, Arial, sans-serif;
  font-weight: 350;
}
.slide-button {
}

.services-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.services-table-header {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px;
  align-items: center;
  justify-content: flex-start;

  background: var(--color-gray-lightest);
}

.services-table-item {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--color-gray-light);
  flex-direction: column;
  row-gap: 10px;
}
.services-table-item-category {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 30px;
}
.services-table-item-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;
  padding: 10px 30px;
}
.services-table-item-dropdown {
  display: none;
}
.services-item-container.open .services-table-item-row {
  background: var(--color-gray-light);
}
.services-item-container.open .services-table-item-dropdown {
  display: flex;
  padding: 10px 30px;
  background: var(--color-gray-lightest);
  align-items: center;
}
.services-item-container.open .button-outline {
  border: 1px solid var(--color-red);
}
.services-item-container.open .button-outline a,
.services-item-container.open .button-outline span {
  color: var(--color-red);
}

.category-icon {
  display: flex;
  overflow: hidden;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid var(--color-red);
  justify-content: center;
  align-items: center;
}
.category-title {
  font-size: 16px;
  line-height: 1.2;
  color: var(--color-red);
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.item-name {
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  width: 38%;
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.item-price {
  width: 38%;
  padding-left: 15px;
  padding-right: 15px;
}
.item-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 24%;
  column-gap: 10px;
  row-gap: 10px;
}
.item-buttons .button-primary,
.item-buttons .button-outline {
  width: auto;
  max-width: none;
  flex-grow: 1;
  padding-inline: 5px;
}
@media screen and (max-width: 768px) {
  .services-table-item-category {
    padding: 5px 10px;
  }
  .services-table-item-row {
    padding: 5px 10px;
  }
  .item-name {
    width: 50%;
  }
  .item-price {
    width: 50%;
    padding-right: 15px;
  }
  .item-buttons {
    width: 100%;
    justify-content: space-between;
  }
}

.reviews-swiper {
}
.reviews-swiper .swiper-slide {
  display: flex;
  flex-direction: column;
  height: unset;
  justify-content: space-between;
}

.review-head {
  display: flex;
  align-items: center;
  column-gap: 15px;
  height: 60px;
  margin-bottom: 30px;
}
.review-image {
  width: 60px;
  height: 60px;
}
.review-name {
  text-transform: uppercase;
}
.review-text {
}
.review-original {
  font-family: 'Circe Light', 'Circe', Inter, system-ui, Arial, sans-serif;
  font-size: 16px;
  font-weight: 350;
  text-decoration-line: underline;
  margin-top: 10px;
  padding-top: 15px;
  border-top: 1px solid var(--color-gray-light);
}

.qna-wrapper {
  padding: 50px 100px 20px 100px;
  background: var(--color-gray-lightest);
}
.qna-wrapper h1 {
  text-align: center;
}
.qna-wrapper h1::after {
  content: none;
}
.qna-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.qna-item {
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  width: 49%;
  padding: 15px 20px;
  padding-right: 40px;
  background: var(--color-white);
  gap: 18px;
  height: min-content;
}
.qna-item-title::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 0px;
  width: 7px;
  height: 7px;
  border-left: 2px solid var(--color-red);
  border-top: 2px solid var(--color-red);
  transition: transform 0.3s;
  transform: rotate(135deg);
  cursor: pointer;
}
.qna-item-title:hover::after,
.qna-item.open .qna-item-title::after {
  transform: rotate(225deg);
}
.qna-item-title {
  font-size: clamp(20px, 4vw, 22px);
  line-height: 1.2;
  letter-spacing: 1.1px;
  position: relative;
  cursor: pointer;
}
.qna-item-dropdown {
  display: none;
}
.qna-item.open .qna-item-dropdown {
  display: block;
  color: var(--color-gray-dark);
  letter-spacing: 0.4px;
}
.qna-more {
  text-align: center;
}
.qna-more a {
  color: var(--color-red);
  text-decoration-line: underline;
}
@media screen and (max-width: 992px) {
  .qna-item {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .qna-wrapper {
    padding: 50px 10px 20px 10px;
  }
  .qna-item {
    padding: 15px 20px;
    padding-right: 30px;
  }
  .qna-item-title::after {
    right: -10px;
  }
}

.tips-swiper-wrapper {
}
.tips-swiper .swiper-slide {
  height: unset;
}
.tip-container {
  display: flex;
  align-items: center;
  gap: 30px;
  border: 1px solid var(--color-gray-lightest);
  padding: 10px 30px 10px 10px;
  height: 100%;
}
.tips-image {
  max-width: 300px;
  width: 100%;
}
.tip-text {
  font-size: clamp(20px, 4vw, 22px);
  line-height: 1.2;
  letter-spacing: 1.1px;
}

/* Productpage */

.product-preview-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
}
.product-preview {
  max-width: 950px;
}
.product-detail {
  /* max-width: 450px; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product-detail-title {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1.1px;
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.product-detail-text {
  font-size: 16px;
  line-height: 1.4;
}
.product-detail-list li {
  list-style-type: disc;
  margin-left: 24px;
}
.product-detail-list li::marker {
  font-size: 8px;
}
.product-detail-more {
  text-align: center;
  text-decoration: underline;
  position: relative;
}
.product-detail-more a {
  position: relative;
}
.product-detail-more a::after {
  content: '';
  display: inline-block;
  position: relative;
  right: -10px;
  top: -4px;
  width: 7px;
  height: 7px;
  border-left: 2px solid var(--color-black);
  border-top: 2px solid var(--color-black);
  transition: transform 0.3s;
  transform: rotate(225deg);
}

.product-description,
.product-extra,
.product-payment {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  border-radius: 8px;
  background: var(--color-gray-lightest);
}
.product-detail .card-title {
  font-weight: 400;
  font-family: 'Circe', Inter, system-ui, Arial, sans-serif;
  font-size: 34px;
  line-height: 1.25;
  letter-spacing: 1.1px;
}
.product-detail .price-new {
  font-size: 34px;
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.product-detail .card-buttons {
  margin-bottom: 10px;
}
.product-detail-phone {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px 25px;
  border-radius: 5px;
  background: var(--color-white);
  gap: 5px;
}

.product-exta-check-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product-exta-check-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
input[type='checkbox']:checked + label,
input[type='checkbox']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
}
input[type='checkbox']:checked + label::before,
input[type='checkbox']:not(:checked) + label::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--color-gray-light);
  background-color: var(--color-white);
}
input[type='checkbox']:checked + label::before,
input[type='checkbox']:not(:checked) + label::before {
  border-radius: 2px;
}
input[type='checkbox']:checked + label::after,
input[type='checkbox']:not(:checked) + label::after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type='checkbox']:checked + label::after,
input[type='checkbox']:not(:checked) + label::after {
  left: 4px;
  top: 6px;
  width: 18px;
  height: 9px;
  border-radius: 1px;
  border-left: 4px solid var(--color-red);
  border-bottom: 4px solid var(--color-red);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
input[type='checkbox']:not(:checked) + label::after {
  opacity: 0;
}
input[type='checkbox']:checked + label::after {
  opacity: 1;
}
.product-exta-check-box {
}
.product-exta-check-label {
  display: flex;
  flex-grow: 1;
  cursor: pointer;
}
.product-exta-check-price {
  color: var(--color-red);
  font-weight: 700;
  font-family: 'Circe Bold', 'Circe', Inter, system-ui, Arial, sans-serif;
}
.product-exta-more {
  text-align: center;
  text-decoration: underline;
  position: relative;
}
.product-exta-more a {
  position: relative;
}
.product-exta-more a::after {
  content: '';
  display: inline-block;
  position: relative;
  right: -10px;
  top: -4px;
  width: 7px;
  height: 7px;
  border-left: 2px solid var(--color-black);
  border-top: 2px solid var(--color-black);
  transition: transform 0.3s;
  transform: rotate(225deg);
}
.product-exta-add {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-exta-add .button-primary {
  position: relative;
}
.product-exta-add .button-primary::before {
  content: url('/img/icons/plus.svg');
  display: inline-block;
  position: relative;
  /* left: -5px; */
  top: -1px;
  width: 16px;
  height: 16px;
}

.product-payment-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.product-payment-cards a {
  display: flex;
  width: 80px;
  height: 51px;
  border-radius: 5px;
  background: var(--color-white);
  flex-shrink: 0;
}

@media screen and (max-width: 992px) {
  .product-preview-wrapper {
    flex-direction: column;
  }
  .product-detail {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
    align-items: center;
    justify-content: center;
  }
  .product-description {
    max-width: 90%;
    flex-grow: 1;
  }
  .product-extra {
    max-width: 45%;
  }
  .product-payment {
    max-width: 45%;
  }
}
@media screen and (max-width: 768px) {
  .product-description {
    max-width: 90%;
  }
  .product-extra {
    max-width: 90%;
    flex-grow: 1;
  }
  .product-payment {
    max-width: 90%;
    flex-grow: 1;
  }
}
@media screen and (max-width: 480px) {
  .product-description {
    max-width: 100%;
  }
  .product-extra {
    max-width: 100%;
  }
  .product-payment {
    max-width: 100%;
  }
}
.buisness-area-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}
.buisness-area-tag {
  display: flex;
  padding: 5px 10px 5px 5px;
  border-radius: 8px;
  gap: 10px;
  background: var(--color-gray-lightest);
  align-items: center;
  position: relative;
}
.buisness-area-tag::before {
  content: url('/img/icons/paper-plane.svg');
  display: inline-block;
  position: relative;
  height: 28px;
  width: 28px;
  background: var(--color-white);
  border-radius: 50%;
}
.buisness-area-tag:hover {
  filter: brightness(85%);
  cursor: pointer;
}

/* Preset */
/* @media screen and (max-width: 1200px) {
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 320px) {
} */
